name: Tests

on: 
  push:
    branches:
      - master
  pull_request:

jobs:
  runner-job:
    runs-on: ubuntu-20.04
    services:
      postgres:
        image: postgres:12
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v2.3.1
      - name: Set up Python 3.8
        uses: actions/setup-python@v2.1.1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install -U pip wheel
          pip install -U -e .[test]
      - name: Initialize PostgreSQL database
        run: |
          psql -c "create user test createdb password 'test'"
        env:
          PGUSER: postgres
          PGHOST: localhost
          PGPASSWORD: postgres
          PGDATABASE: postgres
          PGPORT: 5432
      - name: Test with pytest
        run: |
          pytest --cov-branch --cov-report xml --cov backend tests
        env:
          PGUSER: test
          PGHOST: localhost
          PGPASSWORD: test
          PGDATABASE: test
          PGPORT: 5432
